.confirmation-modal-container {
    font-family: "Roboto";

    .flex-confirmation-modal {
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        // .check-icon {
        //     svg {
        //         color: green;
        //         font-size: 40px !important;
        //     }
        // }

        .title {
            color: #000;
            font-size: 16px;
            margin-top: -5px;
        }

        .heading {
            margin-top: -15px;
            color: #000;
            font-size: 14px;
        }

        .description {
            padding: 0px 40px;
            line-height: 1.2;
            text-align: center;
        }

        .paragraph {
            padding: 0px 20px;
            font-size: 12px;
            line-height: 1.2;
            text-align: center;
        }

        .primary-button {
            height: 32px !important;
            font-size: 16px !important;
            margin-top: 6px !important;
            min-width: 88px !important;
        }
    }

    .flex-modal-buttons {
        display: flex;
        gap: 26px;
    }
}