.product-details-drawer-form {
    .drawer-container {
        position: relative;

        .flex-align {
            gap: 5px;

            .divier {
                width: 100%;
                border-bottom: 1px solid #c0c8d2;
            }

            .date {
                color: #c0c8d2;
                font-size: 12px;
            }
        }

        .company-heading {
            width: -webkit-fill-available;
            position: fixed;
            top: 10;
            z-index: 10;
            padding-top: 10px;
            margin-bottom: 5px;
            background-color: #fff;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08) !important;

            .logo {
                height: 31px;
                width: 66px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            .heading {
                font-size: 20px;
                padding: 4px 0;
            }
        }

        .company-payment-terms {
            width: 545px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding: 62px 15px 0px 15px;

        }

        .company-details-container {
            width: 515px;
            margin: 8px 15px 4px 15px;
            border: 1px solid #c0c8d2;

            .company-detail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 4px 2px;
                background-color: #dee1e6;

                .flex-ship-to {
                    height: 36px;
                    padding-right: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .ship-to {
                        font-size: 20px;
                    }

                    .icon {
                        font-size: 20px;
                    }
                }

                .comapny-name {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #8091a5;
                    padding: 7px;
                    color: #fff;
                    font-size: 18px;

                    .flex-company-name {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    .button {
                        padding: 5px 8px;
                        background: #fff;
                        color: #000000;
                    }

                }

                .toggle-fields {
                    .flex-company-name {
                        position: relative;

                        .company-site-link {
                            position: absolute;
                            right: 10px;
                            top: 2px;
                            font-size: 12px;
                            color: var(--secondary-color);
                        }
                    }
                }

                .flex-fields {
                    width: -webkit-fill-available;
                    margin-top: 6px;
                }

            }

            .company-delivery {
                padding: 6px 4px 0 4px;

                .flex-align {
                    gap: 5px;

                    .divier {
                        width: 100%;
                        border-bottom: 1px solid #c0c8d2;
                    }

                    .date {
                        color: #c0c8d2;
                        font-size: 12px;
                    }
                }

                .flex-delivery {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    padding-bottom: 12px;
                    border-bottom: 1px solid #c0c8d2;

                    .ant-form-item-label {
                        text-align: center !important;
                    }

                    .need-by,
                    .promise {
                        width: 100%;
                        display: flex;
                        gap: 3px;
                        flex-direction: column;

                        .heading {
                            text-align: center;
                            font-size: 16px;
                        }

                        .flex-dates {
                            display: flex;
                            gap: 7px;
                            align-items: center;
                            justify-content: center;
                            padding: 5px 0px;
                            background-color: #f1f3f6;

                            .date {
                                font-size: 16px;
                            }

                            // .month {
                            //     .day {
                            //         font-size: 10px;
                            //     }

                            //     .year {
                            //         margin-top: -4px;
                            //         font-size: 14px;
                            //     }
                            // }
                        }
                    }
                }
            }

            .new-supplier {
                margin: 8px 0px;
                text-align: center;
                color: #8091a5;
                text-decoration: underline;
            }

            .total-counting {
                display: flex;
                padding: 4px 4px;
                margin: 0 4px 4px 4px;
                gap: 2px;
                align-items: center;
                background-color: #F2F3F7;

                .heading {
                    width: 100%;
                    font-size: 16px;
                }

                .total-field {
                    width: 100%;
                }


            }
        }

        .action-buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: 12px 0px;

            .cancel-button,
            .submit-button {
                color: #fff;
                // background-color: #c0c8d2;
            }

            // .submit-button {
            //   // background-color: #8091a5;
            // }
        }

        .ant-input[disabled] {
            color: #000000 !important;
        }

        .ant-form-item-control-input-content {
            background-color: #fff !important;
        }

        .ant-input-affix-wrapper>input.ant-input {
            text-align: end !important;
        }

    }
}