.card-container {
  border: 1px solid #e1e1e1;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .available {
    position: absolute;
    width: 200px;
    // border: 1px solid hsl(0, 0%, 88%);
    background: rgba(255, 0, 0, 0.35);
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    z-index: 5;
    // top: 40px;
    transform: rotate(317deg);
    padding: 6px 0;
    left: -42px;
    top: 29px;

  }

  .card {
    padding: 8px;

    .head {
      width: 100%;
      display: flex;
      position: relative;
      justify-content: space-between;

      .left {
        display: flex;
        gap: 10px;
        height: 20px;

        .icon {
          width: 12px;
          height: 16px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .date {
          margin-left: 2px;
          font-size: 11px;
          background-color: #f6f6f6;
          display: flex;
          align-items: center;
        }
      }

      .static-image {
        height: 42px;
        width: 42px;
        margin-top: -8px;
        margin-right: -8px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .image {
      width: 100px;
      height: 105px;
      margin: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .description {
      padding-top: 10px;
      overflow: hidden;
      color: #000;
      text-align: center;
      text-overflow: ellipsis;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;

      a {
        color: #000;

        &:hover {
          text-decoration: underline;
          color: #254fe2;
        }
      }
    }
  }

  .divider {
    width: 100%;
    border-bottom: 1px solid #f1f3f6;
  }

  .total-count {
    display: flex;

    .dividers {
      margin: 12px 0px;
      border-left: 1px solid #f1f3f6;
    }

    .buyer,
    .requested {
      padding: 5px 10px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .total {
        color: #8091a5;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .count {
        color: #000;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}