.flex-forgot-password {
    padding-top: 2px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .flex-keep-me {
        display: flex;
        align-items: center;
        gap: .3rem;

        p {
            padding-top: 2px;
        }

        input {
            width: 14px;
            height: 14px;
        }
    }
}