
// .product-container {
//     padding: 15px 14px;
//     display: grid;
//     padding-top: 195px;
//     grid-template-columns: repeat(6, 1fr);
//     gap: 2px;
//     @media screen and (max-width: 1550px) {
//       grid-template-columns: repeat(5, 1fr);
//     }
//     @media screen and (max-width: 1350px) {
//       grid-template-columns: repeat(4, 1fr);
//     }
//     @media screen and (max-width: 768px) {
//       grid-template-columns: repeat(2, 1fr);
//     }
//     @media screen and (max-width: 576px) {
//       grid-template-columns: repeat(1, 1fr);
//     }
//   }