.dashboard-header {
  height: 60px;
  width: -webkit-fill-available;
  padding: 0 20px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  z-index: 1100;
  .header-heading {
    color: #fff;
    font-size: 24px;
  }
}
