.sites-container {
    border: 1px solid #c0c8d2;
    margin: 12px 4px 4px 4px;

    .sites-section {
        padding: 4px 2px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: #F2F3F7;

        .site-no {
            padding: 4px 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .site {
                display: flex;
                align-items: center;
                background-color: #8091a5;
                gap: 10px;
                padding: 4px;
                font-size: 18px;

                .heading {
                    color: #fff;
                    padding: 0 8px 0 0;
                    position: relative;

                    span {
                        color: #000;
                        position: absolute;
                        right: 0;
                        bottom: 10px;
                    }
                }

                .number {
                    padding: 2px 8px;
                    background-color: #fff;
                }
            }

            .flex-remove {
                display: flex;
                gap: 4px;

                .remove {
                    text-decoration: underline;
                }
            }

        }

    }

    .terms-section {
        padding: 0px 2px;
        margin: 12px 4px;
        background-color: #F2F3F7;

        .flex-terms {
            width: 100%;
            display: flex;
            align-items: center;

            .terms {
                padding: 2px;
                width: 96%;
                display: flex;
                gap: 5px;
                align-items: center;

                .heading {
                    color: #c0c8d2;
                }

                .divier {
                    width: 100%;
                    border-bottom: 1px solid #c0c8d2;
                }
            }

            .icons {
                padding-right: 4px;
            }

            .icon {
                margin-top: 6px;
                color: #c0c8d2;
                font-size: 15px;
            }
        }
    }

    .effective-dates-section {
        padding: 4px 2px;
        margin-top: -10px;

        .effective-date {
            margin-top: 6px;
            display: flex;
            align-items: center;
            gap: 5px;

            .divier {
                width: 40%;
                border-bottom: 1px solid #c0c8d2;
            }

            .date {
                color: #c0c8d2;
                font-size: 12px;
            }
        }

        .flex-delivery {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            padding-bottom: 8px;

            .need-by,
            .promise {
                width: 100%;
                display: flex;
                gap: 3px;
                flex-direction: column;

                .heading {
                    text-align: center;
                    font-size: 16px;
                }

                .flex-dates {
                    display: flex;
                    gap: 7px;
                    align-items: center;
                    justify-content: center;
                    padding: 4px 0px;
                    background-color: #f1f3f6;

                    .date {
                        font-size: 16px;
                    }

                    .month {
                        .day {
                            font-size: 10px;
                        }

                        .year {
                            margin-top: -4px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .pricing-border {
        border-top: 1px solid #c0c8d2;

        .pricing-type {
            display: flex;
            gap: 5px;
            align-items: center;
            background-color: #F2F3F7;
            padding: 12px 12px 12px 2px;
            justify-content: space-between;

            .title {
                color: #000;
                text-align: center;
                font-size: 20px;
                font-weight: 400;
            }
        }

        .disabled-switch {
            background-color: grey;
        }
    }

    .prices-type {
        margin: 14px 0px 10px 0px;
        display: flex;
        justify-content: center;

        .flex-prices {
            display: flex;
            border: 1px solid black;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 16px;

            .range-price {
                color: #fff;
                background-color: #000;
                padding: 10px 15px;
            }

            .block-price {
                color: #000;
                padding: 10px 15px;
            }
        }
    }

    .quantity-per-split {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .split-quantity {
            font-size: 16px;
            color: #000;
        }

        .quantity-field {
            width: 42px;
            font-size: 16px;
        }
    }

    .flex-align {
        padding: 4px 4px 0px 4px;
    }

    .quantity-quote-section {
        display: flex;
        flex-direction: column;

        .bg-color {
            border-bottom: none !important;
            background-color: #F2F3F7;
        }

        .flex-headings {
            display: flex;
            margin: 6px 0;

            .from {
                padding-left: 40px;
            }

            .to {
                padding-left: 17px;

            }

            .title {
                width: 50%;
                text-align: center;
                font-size: 18px;
            }
        }

        .pricing-fields-section {
            padding: 4px;
            display: flex;
            border-bottom: 1px solid #c0c8d2;
            gap: 10px;

            .flex-pricing-fields {
                width: 50%;
                display: flex;
                flex-direction: column;

                .pricing-fields {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .icon {
                        font-size: 35px;
                        margin-left: 5px;
                    }
                }
            }

            .quote-field {
                width: 50%;
                display: flex;
                align-items: center;
                gap: 5px;
                padding-top: 28px;
            }
        }

        .flex-line,
        .flex-subtotal,
        .flex-shipping,
        .flex-handling {
            display: flex;
            justify-content: space-between;
            gap: 2px;
            padding-bottom: 4px;
            border-bottom: 1px solid #c0c8d2;

            .ant-form-item-label {
                text-align: center !important;
            }

            .quantity-section,
            .quote-section {
                width: 100%;
                padding: 0 4px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .quantity {
                // width: 110% !important;
                text-align: center !important;
            }

            .shipping {
                font-size: 16px;
                padding-left: 5px;
            }

            .shipping-field {
                padding-top: 4px;
            }
        }



        // .section-headings {
        //   display: flex;
        //   justify-content: space-between;

        //   .title {
        //     color: #000;
        //     font-size: 18px;
        //   }
        // }
    }

}