.sign-up-container {
    height: 100vh;
    width: -webkit-fill-available;
    background: url("../../../../public/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .sign-up-form {
        width: 100%;
        height: 100vh;
        display: flex;
        padding-top: 60px;
        justify-content: flex-end;

        .form {
            width: 550px;
            overflow-y: scroll;
            background-color: #fff;

            .heading-position {
                position: fixed;
                width: 100%;
                z-index: 10;
            }

            .flex-details {
                margin-top: 80px;
                padding: 1rem 1.5rem;

                .registration-field {
                    margin-bottom: 4px !important;
                    .company-logo{
                        margin-top: -5px;
                        text-align: center;
                    }
                }

                .security-questions {
                    padding: 5px 10px;
                    margin-top: 10px;
                    width: 100%;
                    background-color: #EDF2F7;

                    .add {
                        color: rgb(128, 145, 165);
                    }

                    .questions-button {
                        margin-top: -7px;
                        font-size: 16px;
                        color: var(--dark);
                    }
                }

            }

        }

    }
}

.flex-social-options {
    display: flex;
    align-items: center;
    gap: .3rem;

    .icon {
        min-width: 25px;
    }
}

// Categories Custom Selector
.selector-container {
    position: relative;

    .selector-options {
        width: -webkit-fill-available;
        position: absolute;
        top: 37px;
        z-index: 10;
        max-height: 300px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

        input:focus {
            border-color: var(--primary-color) !important;
        }

        .options {
            margin: 0px 4px;
            padding: 4px 10px;
            cursor: pointer;

            &:hover {
                background-color: var(--light-grey);
            }
        }

    }
}

// Social Media Custom options 
.custom-social-options {
    margin-top: 5px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}