@import url("https://fonts.googleapis.com/css2?&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-size: 14px;
  font-family: "Roboto" !important;
}

p {
  font-family: light-font !important;
}

// *********************** ANT-Design ****************************

.ant-btn,
.ant-input,
.ant-select-selector,
.ant-select-dropdown,
.ant-input-affix-wrapper {
  border-radius: 0px !important;
}

// Input :
.ant-input-affix-wrapper,
.ant-input {
  border-color: #000000 !important;
}

// Selector :
.ant-select-selector {
  font-size: 16px !important;
}

.ant-select-dropdown .ant-select-item-option-content {
  font-size: 16px !important;
}

.ant-select-selection-overflow-item {
  .ant-select-selection-item {
    display: none !important;
  }
}

.ant-select-focused {
  border: 2px solid #000000 !important;
  box-shadow: none;
}

.ant-select-selector {
  border: 2px solid #000000 !important;

}

.ant-select-selector:hover {
  border: 2px solid #000000 !important;
}

// Date Picker
.ant-picker {
  width: 100%;
  height: 35px;
  border-radius: 0px !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}

.ant-picker.ant-picker-disabled {
  border-color: #000000 !important;
}

.ant-picker-input>input {
  text-align: center;
  font-size: 16px !important;
  font-family: "Roboto" !important;
  border-color: #000000 !important;
}

// Tag
.ant-tag {
  margin-top: 3px !important;
}

// Button :
.ant-btn {
  height: 32px !important;
  min-width: 88px !important;
  font-size: 16px !important;
  font-family: "Roboto" !important;
  padding: 2px 15px 0px 15px !important;
}


// Form :
.ant-form-item-explain-error {
  font-size: 12px;
  margin-bottom: -5px;
}

.ant-form-item-label {
  label {
    font-size: 16px !important;
    font-family: "Roboto" !important;
  }
}

.ant-form {
  font-family: "Roboto" !important;
}

.ant-form-item-required {
  font-size: 16px !important;
}

.ant-form-vertical .ant-form-item-label {
  margin-bottom: 0px !important;
}

.ant-form-item {
  margin-bottom: 0px !important;
}

.ant-form-vertical .ant-form-item-label {
  padding: 0 0 0px !important;
}

.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  position: absolute;
  top: 1px !important;
  right: 2px !important;
  color: #000000 !important;
  font-size: 16px !important;
  font-family: "Roboto" !important;
}

.ant-input-prefix {
  color: #d9d9d9;
}

// Drawer :
.ant-drawer-header {
  padding: 10px 15px 7px 15px !important;
  background-color: var(--light-grey) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08) !important;
}

.ant-drawer-body {
  padding: 0px !important;
}

.ant-drawer-close {
  display: none !important;
}

// .ant-drawer .ant-drawer-header {
//   border: none !important;
// }



// Modal :
.ant-modal {
  margin-top: 60px;
  margin-left: 240px;
}

.ant-modal .ant-modal-title {
  color: #000000 !important;
  font-weight: 400 !important;
  font-family: "Roboto" !important;
}

.ant-modal-content {
  border-radius: 0px !important;
}

.ant-modal-content {
  padding: 0px 0px !important;
}

// Rating :
.ant-rate .ant-rate-star:not(:last-child),
.ant-rate-star-second {
  margin-inline-end: 2px !important;
  font-size: 12px;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-rate {
  margin-top: -9px !important;
}

// *********************** React-phone-input-2 ****************************
.form-control {
  width: 100% !important;
  border-radius: 0px !important;
}

.ant-slider-handle::after,
.ant-slider-track {
  background-color: var(--secondary-color) !important;
}

.ant-slider-handle::after {
  box-shadow: 0 0 0 2px var(--secondary-color) !important;
}