.sidebar-container {
  .right-pages {
    position: relative;
    background: #fff;

    .right-page {
      // height: 100%;
      // max-height: 100%;
      // overflow: scroll;
      // margin-top: 0px;
    }

    // .detail-right-page{
    //   height: 100%;
    //   max-height: 100%;
    //   overflow: scroll;
    // }
  }
}